.avaliacao-box{
    background: #fff;
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.avaliacao-box h2 {
    font-size: 1.8em;
    font-weight: 500;
    margin-top: 0;
}
.avaliacao-box h2 span{
    color: #e53935;
    font-weight: bold;
}

.avaliacoes {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 40px;
}

.avaliacao-bloco {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avaliacao-bloco img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nome-e-estrelas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 15px;
}

.nome-e-estrelas h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
.nome-e-estrelas p {
    margin: 0;
    font-size: 0.9em;
    color: #777;
}

.estrelas{
    font-size: 22px;
    color: #FFD700;
    cursor: pointer;
    white-space: nowrap;
}

.estrelas .empty {
    color: #ddd;
}

.estrelas:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.botao{
    display: block;
    margin: 40px 0 0 0;
    background-color: #374151;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.botao:hover{
    background-color: #111827;
}

@media (max-width:700px){
    .avaliacoes{
        display: flex;
        flex-direction: column;
    }
}