main#perfil-anfitriao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 100px;

}


#seu-anfitriao-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#anfitriao {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 10px 20px
}

#anfitriao>img {
    grid-row: 1 / span 2;
}

#anfitriao>p {
    color: var(--Texto-menu, #374151);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

#anfitriao>h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}



#anfitriao>h1>mark {
    background: transparent;
    color: var(--Vermelho-base, #F33128);
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}

#seu-anfitriao-box>ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

#seu-anfitriao-box>ul>li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


#compartilhar::before {
    content: url(../SVG/lucide_share.svg);
}

#denunciar::before {
    content: url(../SVG/material-symbols_report-outline-rounded.svg);
}

#perfil-anfitriao hr {
    margin: 40px 0px;
    width: 100%;
    border: 1px solid #C7C7C7;
}

#avaliacao-anfitriao-box {
    display: flex;
    flex-direction: column;
}

#avaliacao-anfitriao-box>h2 {
    justify-self: flex-start;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 35px;
}


.avaliacao-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #DFDFDF;
    background: #F5F5F5;
    width: 270px;
    height: 209px;
}

.info-box {
    display: inline-flex;
    align-items: center;
    gap: 13px;
}

.info-box>img {
    grid-row: 1 / span 2;

}

.nome-local {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.nome-local {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.nome-local>h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.nome-local>p {
    color: var(--Texto-menu, #374151);
    font-size: 13px;
    font-weight: 300;
    line-height: 100%;
}

.avaliacao-box>hr {
    border: 1px solid #D0D0D0;
    width: 100%;
    margin: 18px 0px;
}

.avaliacao-box>p {
    color: var(--Texto-menu, #374151);
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
}

.avaliacao-box>span {
    margin: 20px 0px 5px 0px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #374151;
    font-size: 15px;
    font-weight: 300;
    line-height: 100%;
}

.avaliacao-box>span::before {
    content: url(../SVG/Star\ 2.svg);
}


#grid-avaliacoes-anfitriao {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
}


#historico {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 145px;

}

#historico>h2 {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}

#quadras-historico {
    display: flex;
    gap: 45px;

}


.quadra {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;



}

.quadra>img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.quadra>h3 {
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--Preto, #101416);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}

.quadra>ul {
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;

}

.quadra>ul>li {
    color: var(--Texto-menu, #374151);
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
    /* 18px */

}


.avaliacao::before {
    content: url(../SVG/estrela-cinza.svg);
    margin-right: 8px;

}

.pessoas::before {
    content: url(../SVG/Pessoa-cinza.svg);
    margin-right: 8px;
}

.mais-info {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}

.mais-info>img {
    width: 14px;
    height: 14px;
    aspect-ratio: 1/1;

}

.mais-info>a {
    color: #374151;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}



@media (max-width:1700px) {
    main#central-jogador>h1 {
        text-align: center;
    }

    #historico>h2 {
        text-align: center;
    }

    #quadras-historico {
        flex-flow: column
    }

    #botoes-partida {
        flex-flow: column;
    }

    #grid-avaliacoes-anfitriao {
        grid-template-columns: repeat(2, auto);
    }



}





@media (max-width: 900px) {
    #seu-anfitriao-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 820px) {


    .avaliacao::before {
        margin: auto;

    }

    .pessoas::before {
        margin: auto;
    }

    #grid-avaliacoes-anfitriao {
        grid-template-columns: repeat(1, auto);
    }


}