main#login-box {
    display: flex;

    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.login {
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;



}

.login h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

mark {
    color: var(--vermelho);
    background-color: transparent;
}

.login p {
    color: var(--Texto-menu);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    padding: 15px 0px;
}

.login a {
    color: var(--Texto-menu);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-decoration: none;

}

.login a:hover {
    color: var(--vermelho);
    text-decoration: underline;
}


.login label {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: -10px;
}

.login input {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background: #F9F9F9;
}




.login button {
    border-radius: 10px;
    background: var(--Texto-menu, #374151);
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    border: none;
}


.login button {
    border-radius: 10px;
    background: var(--Texto-menu, #374151);
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    border: none;



}

.login button:hover {
    cursor: pointer;
    background: var(--preto);

}





.login aside {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;

}

.login aside>a {
    font-size: 14px;
}

#quadra-login {
    height: 100%;
    width: 100%;
    flex: 1
}



#quadra-login>img {
    display: block;
    width: 100%;
    margin: auto;

}



/* Para telas menores (mobile) */
@media (max-width: 1590px) {
    main#login-box {
        flex-direction: column;
    }

}

@media (max-width:700px) {
    .login a {
        display: block;

    }
}

.vazio {
    color: red;
}

