@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');



:root {
    --branco: #f4f4f4;
    --texto: #374151;
    --links: #C4C4C4;
    --preto: #101416;
    --disponivel: #E3E9E4;
    --disponivel-texto: #374151;
    --vermelho: #F33128;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Geologica", sans-serif;

}


html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 22px 50px;
}

.logo {
    width: 136px;
    height: 45px;
}


.menu-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-header a {
    text-decoration: none;
    color: var(--texto);
    transition: color 0.1s ease 0.1s;
}



.menu-header a:hover {
    color: var(--vermelho);
}






footer {
    background-color: var(--preto);
    padding: 60px 120px;

}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
}

.bloco-de-links {
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
    min-width: 170px;
    box-sizing: border-box;
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloco-de-links h1 {
    color: var(--branco);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding-bottom: 20px;


}

.bloco-de-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.bloco-de-links li {
    padding-right: 0;
    line-height: 100%;
}

.bloco-de-links a {
    color: var(--links);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.1s ease 0.1s;
    display: inline-block;
    width: 100%;
    word-break: break-word;
}

.bloco-de-links a:hover {
    color: var(--vermelho);
}

footer hr {
    border-color: #373E41;
    margin: 50px 0px;

}

.direitos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.direitos img {
    width: 136px;
    height: 45px;
}

.direitos p {
    color: var(--branco);
}

@media (max-width:1300px) {
    .links {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .bloco-de-links {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
        min-width: 170px;
        box-sizing: border-box;
        padding: 20px 10px;
    }

}

@media (max-width:800px) {
    .bloco-de-links {
        flex: 0 0 50%;
        max-width: 50%;
        min-width: 160px;
    }

}

@media (max-width:600px) {
    .links {
        flex-direction: column;
    }

    .bloco-de-links {
        flex: unset;
        max-width: unset;
        min-width: unset;
        width: auto;
    }

    .menu-header>a {
        display: none;
    }

    .direitos {
        flex-direction: column;
        gap: 40px;
    }

}

